<mat-toolbar  style="font-family: MuseoModerno; background-color: antiquewhite; position: fixed; " >
    wapify<span class="kiki"></span>
    <button mat-flat-button style="margin-right: 5px;" color="primary">Login</button>
    <button mat-raised-button>Register</button>
</mat-toolbar>
<body class="img-responsive">
  

<div fxLayout="column" fxLayoutAlign="center center"  >
    
<mat-card fxLayout="column" fxLayoutAlign="center center" style="width: 500px; margin-top: 120px;" class="juju">

<div fxLayout="row">

    <mat-card style="width:200px; height:180px; margin-right: 20px ;" >
        <img mat-card-image src="./lamar.jpeg" alt="cover design">
       
    </mat-card>

    <div fxLayout="column" fxLayoutAlign="start center" >
        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="labe">Artist Name</mat-label>
                <input matInput placeholder="Ex. Hanscana" value="">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label  class="labe">Art Name</mat-label>
                <input matInput placeholder="Ex. Dark woods" value="">
              </mat-form-field> 
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="labe">Collection</mat-label>
                <input matInput placeholder="Ex. Smart look" value="">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label class="labe">Year</mat-label>
                <input matInput placeholder="Ex. 2020" value="">
              </mat-form-field>
        </div>
    </div>

</div>

<div>
    <mat-form-field  style="margin-right: 150px; height: 50px;">
        <mat-label class="labe">Description</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

      <button mat-raised-button style="background: transparent;">Upload</button>
</div>

</mat-card>
</div>

</body>
